.die-container {
  position: relative;
  perspective: 1000px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}

/*
  Common Die Style
*/
.theDice {
  position: absolute;
  transition: transform .25s;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  width: 100%;
  height: 100%;
  background-color: #512E77;
  color: #FFFFFF;
}

.theDice.rolling {
  animation: rotation 1s linear;
}

@keyframes rotation {
  from {
      transform: rotateX(0deg) rotateY(0deg);
  }
  to {
      transform: rotateX(720deg) rotateY(720deg);
  }
}

.theDice .side {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 196px;
  height: 196px;
  background-color: inherit;
  border: 2px solid #000000;
  border-radius: 24px;
  font-size: 40px;
  font-weight: bold;
}

/*
  Die Optional Styles
*/

.theDice.option-translucent {
  background-color: rgba(213, 0, 0, .80);
}

/*
  D6
*/
.d6 .side:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px);
}
.d6 .side:nth-child(2) {
  transform: rotateX(180deg) translateZ(100px);
}
.d6 .side:nth-child(3) {
  transform: rotateY(90deg) translateZ(100px);
}
.d6 .side:nth-child(4) {
  transform: rotateY(-90deg) translateZ(100px);
}
.d6 .side:nth-child(5) {
  transform: rotateX(90deg) translateZ(100px);
}
.d6 .side:nth-child(6) {
  transform: rotateX(-90deg) translateZ(100px);
}
